[Unit]
Description=Prometheus exporter for Rudder
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/bin/prometheus-rudder-exporter

[Install]
WantedBy=multi-user.target
